@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
}

body {
  font-family: $text;
  background-color: $bg-color;
  color: $font-color;
  width: 100%;
}
