@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
}

body {
  font-family: $text;
  background-color: $bg-color;
  color: $font-color;
  width: 100%;
}

/*
body.dark-mode {
  background-color: $bg-color-light;
  color: $font-color-light;
  p,
  h1,
  h2,
  h3,
  h5 div,
  span,
  a {
    color: $font-color-light;
  }
  header {
    background: $bg-color-light;
  }
}
*/
