//Fonts
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700&display=swap");

$logo: "Work Sans", sans-serif;
$text: "Source Sans 3", sans-serif;

//colors
$bg-color: #202023;
$font-color: #eeeeee;
$yellow: #fed393;
$button-color: #70e6d9;
$light-grey: #525252;
$dark-grey: #313134;
$red: #ff6767;

//size
$nav-brand-size: 1.25rem;
$nav-item-size: 1rem;
$heading-size: 1.5rem;
$main-size: 1.25rem;
$name-size: 2.8rem;

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

//border radius
$borderRadius: 12px;

// header height
$headerHeight: 60px;

//section margins
$section-margin: 3.2rem;

@mixin breakpoint($point) {
  @if $point == md {
    // 768px
    @media (min-width: 48em) {
      @content;
    }
  }
}

//Light mode for later use
$bg-color-light: #f1e7dc;
$font-color-light: #202023;
$purple-light: #855bd0;
$button-color-light: #0a9895;
$light-beige-light: #f6f0e9;
