@import "../../styles/variables.scss";

.container {
  height: 100vh;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  &__content {
    background: §bg-color;
    width: 678px;
  }
}
