@import ".././styles/variables.scss";

section {
  padding-top: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 10rem;
  height: 100vh;
  .container__split {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    @media screen and (max-width: $small-screen) {
      grid-template-columns: 1fr;
      text-align: center;
      p {
        max-width: 290px;
      }
    }
    h1 {
      margin-top: 1rem;
      font-size: $name-size;
      font-family: $logo;
      font-weight: 500;
      letter-spacing: -3.2px;
      color: $red;
    }
    &__icons {
      display: flex;
      justify-content: flex-start;
      gap: 4rem;
      margin-top: 4.5rem;
      font-size: 30px;
      a {
        color: $font-color;
        transition: 0.3s color ease;
        &:hover {
          color: $red;
        }
      }
      @media screen and (max-width: $small-screen) {
        justify-content: center;
      }
      &__hover {
        transition: 0.3s margin-top ease;
        &:hover {
          margin-top: -0.5rem;
        }
      }
    }
    form {
      margin-top: 1rem;

      .form__container {
        margin: 1.5rem 0;
        padding-right: 10px;

        input,
        textarea {
          width: 100%;
          height: 40px;
          border: none;
          border-radius: 20px;
          background: $dark-grey;
          padding-left: 14px;
          font-family: $text;
          outline: none;
          color: rgb(218, 218, 218);
          &:focus {
            box-shadow: 0px 0px 10px 0px rgba(255, 103, 103, 1);
          }
        }
        textarea {
          height: 100px;
          font-family: $text;
          padding-top: 10px;
          resize: none;
        }
        &__button {
          display: flex;
          &__center {
            width: 100%;
            height: 35px;
            margin: 0 4rem;
            border: none;
            border-radius: 20px;
            background: $red;
            font-family: $text;
            color: $font-color;
            transition: 0.3s all ease;
            cursor: pointer;
            &:hover {
              background: #fa4646;
              margin: 0 3rem;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: $small-screen) {
    height: 140vh;
  }
}
