@import "../../styles/variables.scss";

.footer {
  height: 200px;
  display: flex;
  justify-content: center;
  &__content {
    left: 0;
    bottom: 0;
    width: 832px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(184, 193, 199, 1);
    padding: 0 2rem;
    &__left {
      span {
        font-weight: 700;
        color: $font-color;
      }
    }
    &__right {
      a {
        text-decoration: none;
        color: white;

        &:hover {
          color: rgb(184, 184, 184);
        }
      }
      &__link {
        margin: 0 2rem;
      }
    }

    @media screen and (max-width: $small-screen) {
      flex-direction: column;
      margin: 2rem;
      padding: 0;
    }
  }
  @media screen and (max-width: $small-screen) {
    margin-bottom: 3rem;
  }
}
